:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center; 
  line-height: 1;
  font-weight: 300;
  color-scheme: light dark;
  background-image: url('./assets/wallpaperneo.webp');
  background-repeat: no-repeat;
  background-position: center;
  max-width:fit-content;
  margin: 0 auto;
  padding: 1rem;
}


body {
  margin: 0;
  display: flex;
  place-items: center;

}

.heading {
  text-align: center;
  color: #04348c;
  padding-bottom: 0;
}



.card {
  background-color: #648cac;
  color:#113f67;
  opacity: 0.8;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgb(89, 164, 227);
  transition: box-shadow 0.25s transform 0.25s;
  border-radius: 2em;
  padding: 0.5em;
   
} 



